@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  background-color: #f5f8f9;
  color: black;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth !important;
}


@layer components {
  .top-spacing {
    @apply pt-8 lg:pt-20 2xl:pt-24;
  }
  .bottom-spacing {
    @apply pb-8 lg:pb-20 2xl:pb-24;
  }
  .main-container {
    @apply lg:px-8 px-4 mx-auto w-full max-w-screen-2xl;
  }}